{{! Cards for each mealtime displayed in home page }}
<article class="card">
	<a href="/recipe/{{mealtime}}/{{id}}">
        <img src="/images/{{filename}}" alt="{{description}}" />
		<h3>{{recipe.name}}</h3>
        <p>{{recipe.description}}</p>
	</a>
</article>