<div class="card" style="width: 18rem;">
  	<a href="/recipe/:id{{id}}"></a>
  <img class="card-img-top" src="/images/{{file_name}}" alt="{{description}}" />
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <p class="card-text"> {{description}}
      {{!-- Description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non dicta provident similique temporibus soluta tempore molestiae fugit perspiciatis voluptas. Tempora nobis dignissimos tempore. Voluptas quod dolorum, nam quasi nisi aut.</p> --}}
  </div>
  <div class = 'card-ingredients'>
  <ol class="list-group list-group-flush">
    <li class="list-group-item">{{ingredients}}</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ol>
  </div>

  <div class="card-body">
    <h5>{{instructions}}
  </h5>
</div>

