<section class="specificRecipe">
  <div class="card-deck">
  <div class="card" style="width: 18rem;">
    <a href="/recipe/:id{{id}}"></a>
    <img class="card-img-top" src="/images/{{file_name}}" alt="{{description}}" />
    <div class="card-body">
      <h4 class="card-title">{{name}}</h4>
      <p class="card-text"> {{description}}
    </div>
    <div class='card-ingredients'>
      <ol class="list-group list-group-flush">
        <li class="list-group-item">{{ingredients}}</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ol>
    </div>

    <div class="card-body">
      <h5>{{instructions}}</h5>
    </div>

</section>

<div class="card-deck">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../public/images/avocado-toast.jpg" alt="Avocado toast" />
    <div class="card-body">
      <h3 class="card-title">Avocado Toast with Eggie</h3>
      <p class="card-text">
        Healthy protein-packed breakfast that is ready in under 10 minutes
        Simple to make, tasty, and a great way to start your morning!
      </p>
    </div>
    <div class="ingredients">
      <h4>Ingredients</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">One avocado</li>
        <li class="list-group-item">
          Two slices of bread. Whole grain is highly recommended for those extra
          nutrients</li>
        <li class="list-group-item">Salt, pepper, and everything but bagel
          seasonings</li>
      </ul>
    </div>

    <div class="directions">
      <h4>Directions</h4>
      <ol class="list-group list-group-flush">
        <li class="list-group-item">Toast your bread.</li>
        <li class="list-group-item">
          In a bowl, mash your avocado and add seasonings.</li>
        <li class="list-group-item">
          For perfectly cooked egg whites with slightly undercooked egg, heat
          some olive oil, and then break an egg onto the skillet. Reduce the
          heat to low. Cook it uncovered until the whites set.
        </li>
        <li class="list-group-item">
          Time to put it all together: plate your toast, add the avocado mash
          and top it with your delicious fried egg. Enjoy!</li>
      </ol>
    </div>

    <div class="card-body">
      <a href="#" class="card-link">Leave your Review :)</a>
    </div>

    <img class="card-img-top" src="../public/images/avocado-toast.jpg" alt="Avocado toast" />
    <div class="card-body">
      <h3 class="card-title">Avocado Toast with Eggie</h3>
      <p class="card-text">
        Healthy protein-packed breakfast that is ready in under 10 minutes
        Simple to make, tasty, and a great way to start your morning!
      </p>
    </div>
    <div class="ingredients">
      <h4>Ingredients</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">One avocado</li>
        <li class="list-group-item">
          Two slices of bread. Whole grain is highly recommended for those extra
          nutrients</li>
        <li class="list-group-item">Salt, pepper, and everything but bagel
          seasonings</li>
      </ul>
    </div>

    <div class="directions">
      <h4>Directions</h4>
      <ol class="list-group list-group-flush">
        <li class="list-group-item">Toast your bread.</li>
        <li class="list-group-item">
          {In a bowl, mash your avocado and add seasonings}.</li>
        <li class="list-group-item">
          For perfectly cooked egg whites with slightly undercooked egg, heat
          some olive oil, and then break an egg onto the skillet. Reduce the
          heat to low. Cook it uncovered until the whites set.
        </li>
        <li class="list-group-item">
          Time to put it all together: plate your toast, add the avocado mash
          and top it with your delicious fried egg. Enjoy!</li>
      </ol>
    </div>

    <div class="card-body">
      <a href="#" class="card-link">Leave your Review :)</a>
    </div>

    <img class="card-img-top" src="../public/images/avocado-toast.jpg" alt="Avocado toast" />
    <div class="card-body">
      <h3 class="card-title">Avocado Toast with Eggie</h3>
      <p class="card-text">
        Healthy protein-packed breakfast that is ready in under 10 minutes
        Simple to make, tasty, and a great way to start your morning!
      </p>
    </div>
    <div class="ingredients">
      <h4>Ingredients</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">One avocado</li>
        <li class="list-group-item">
          Two slices of bread. Whole grain is highly recommended for those extra
          nutrients</li>
        <li class="list-group-item">Salt, pepper, and everything but bagel
          seasonings</li>
      </ul>
    </div>

    <div class="directions">
      <h4>Directions</h4>
      <ol class="list-group list-group-flush">
        <li class="list-group-item">Toast your bread.</li>
        <li class="list-group-item">
          In a bowl, mash your avocado and add seasonings.</li>
        <li class="list-group-item">
          For perfectly cooked egg whites with slightly undercooked egg, heat
          some olive oil, and then break an egg onto the skillet. Reduce the
          heat to low. Cook it uncovered until the whites set.
        </li>
        <li class="list-group-item">
          Time to put it all together: plate your toast, add the avocado mash
          and top it with your delicious fried egg. Enjoy!</li>
      </ol>
    </div>

    <div class="card-body">
      <a href="#" class="card-link">Leave your Review :)</a>
    </div>
  </div>
</div>